.main-page-button {
	width: 60% ;
	height: 60px ;
	position: relative; 
	left: 18%;
	margin: 5px;
	background-color: #C0C0C0;
}
.main-page-image {
	width: 100%; 
	height:100%; 
}
div.ui-dialog-titlebar{
	display: none;
}
button.ui-button{
	width: 100px;
	height: 35px;
	color: black !important;
}
.logout-dialog-paragraph{
	text-align: center; 
	font-size: 15pt; 
	margin-top:15px; 
	margin-bottom:15px;
}