.main-page-button {
	width: 60% ;
	height: 60px ;
	position: relative; 
	left: 18%;
	margin: 5px;
	background-color: #C0C0C0;
}
.main-page-image {
	width: 100%; 
	height:100%; 
}
.main-content-div{
	width: 100%; 
	height: 100%; 
	background-size: 100% 100% !important;
}
.init-page-content{	
background:url(../../images/Penguins.jpg) no-repeat; 
}
.filled-page-content{
background:url(../../images/Penguins_working.jpg) no-repeat;
}
button.ui-button{
	width: 100px;
	height: 35px;
	color: black !important;
}
div.ui-dialog-titlebar{
	display: none;
}

.logout-dialog-paragraph{
	text-align: center; 
	font-size: 15pt; 
	margin-top:15px; 
	margin-bottom:15px;
}
.transaction-extension{
	text-align: left;
	margin-left: 20px;
	width: 70%;
}
.account-list-button{
	width:15%; 
	height:40px; 
	margin-left: 10%;
	margin-bottom: 20px;
}